<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Mon Application</title>
  <!-- LIEN GOOGLE FONTS -->
  <link rel="stylesheet" type="text/css" href="css/style.css" >
  <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
  

</head>
<!-- AJOUT DES STYLES DIRECTEMENT DAN LE HTML -->
<body>
  TP2 Veille technologique
  <!-- formulaire pour ajouter nouveau document -->
    <form id="ajout" action="/adresse" method="POST">
    <input type="text" placeholder="Nom" name="nom">
    <input type="text" placeholder="Prenom" name="prenom">
    <input type="text" placeholder="Telephone" name="telephone">
    <input type="text" placeholder="Ville" name="ville">
    <input type="text" placeholder="Code Postal" name="codepostal">
    <button type="submit">Submit</button>
  </form>

  <!-- affiche le contenu de adresse dans des li-->
  <section class="adresse">
  <% for(var i=0; i<adresse.length; i++) {%>
    <li class="client">
    <form id="formulaire">
      <input type="text" name="nom" value=<%= adresse[i].nom %>>
      <input type="text" name="prenom" value=<%= adresse[i].prenom %>>
      <input type="text" name="telephone" value=<%= adresse[i].telephone %>>
      <input type="text" name="ville" value=<%= adresse[i].ville %>>
      <input type="text" name="codepostal" value=<%= adresse[i].codepostal %>>
      <input type="text" name="_id" value=<%= adresse[i]._id %>>
      <p class="modifier">Modifier</p>
      </form>
      <a <%= "href=/detruire/"+adresse[i]._id %> >Supprimer</a>
    </li>
  <% } %>
  </section>

</html>

<!-- AJAX -->
<script>

var boutonModifier = document.getElementsByClassName("modifier");//tous les boutons modifier
var elmLigneDiv = document.getElementById('formulaire');//inputs du formulaire

//attribue un addEventListener au boutons
for(i=0;i< boutonModifier.length;i++){
  boutonModifier[i].addEventListener("click", Modifier.bind(this), false);
}

//MODIFIER
function Modifier(){
  console.log(this.value);
  xhr = new XMLHttpRequest();
  xhr.open('POST', "modifier", true);
  data = { 
   "modif":{
   "nom" : elmLigneDiv[0].value,
   "prenom" : elmLigneDiv[1].value,
   "telephone" : elmLigneDiv[2].value,
   "ville" : elmLigneDiv[3].value,
   "codepostal" : elmLigneDiv[4].value
   },
   "_id" : elmLigneDiv[5].value 
  };


  sData = JSON.stringify(data);//transforme le JSON en string
  xhr.setRequestHeader('Content-type', 'application/json');
  console.log(sData);
  xhr.send(sData);//envoie la data
  xhr.addEventListener("readystatechange", traiterRequest, false);

}//fin fonction modifier

//REPONSE
function traiterRequest(e)
 {
  e.preventDefault();
 /*console.log("xhr.readyState = " + xhr.readyState)
 console.log("xhr.status = " + xhr.status)
 if(xhr.readyState == 4 && xhr.status == 200)//si la requete a fonctionné
 {
 console.log('ajax fonctionne')
 //var response = JSON.parse(xhr.responseText);
 //console.log(xhr.responseText);
 elmChamp_id.value = response[0]._id;
 elmLigne.style.border = "5px";
 elmLigne.style.borderColor = "#0f0";
console.log("lol");
}*/
 }
</script>
</body>